.arch-section {
    margin-top: 100px;
}

.marg-b {
    margin-bottom: 30px;
}

.col-md-2_5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

/*@media only screen and (max-width: 1200px) and (min-width: 992px)  {*/
    
/*   .resize {*/
/*        height: 340px; */
/*        width: 300px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 992px) and (min-width: 768px)  {*/
    
/*   .resize {*/
/*        height: 258px; */
/*        width: 218px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 768px) and (min-width: 501px)  {*/
    
/*   .resize {*/
/*        height: 199px; */
/*        width: 159px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 501px) and (min-width: 461px)  {*/
    
/*   .resize {*/
/*        height: 184px; */
/*        width: 144px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 461px) and (min-width: 422px)  {*/
    
/*   .resize {*/
/*        height: 170px; */
/*        width: 130px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 422px) and (min-width: 396px)  {*/
    
/*   .resize {*/
/*        height: 160px; */
/*        width: 120px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 396px) and (min-width: 366px)  {*/
    
/*   .resize {*/
/*        height: 149px; */
/*        width: 109px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 366px) and (min-width: 336px)  {*/
    
/*   .resize {*/
/*        height: 140px; */
/*        width: 100px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 336px) and (min-width: 306px)  {*/
    
/*   .resize {*/
/*        height: 132px; */
/*        width: 92px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

/*@media only screen and (max-width: 306px)  {*/
    
/*   .resize {*/
/*        height: 120px; */
/*        width: 80px; */
/*        overflow: hidden;*/
/*        margin-bottom: 17px;*/
/*    }         */

/*}*/

@media only screen and (min-width: 1200px)  {
    
   .resize {
        height: 250px; 
        width: 100%; 
        overflow: hidden;
        /*margin-bottom: 17px;*/
        padding-bottom: 15px;
    }         

}