.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}


.nb-menu {
    position: absolute;
    bottom: 0;
}

.nb-outer-menu {
    position: relative;
}

.bg-inverse {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 5px !important;
    border: 1px solid black;
}

.nav-link, .navbar-brand {
    color: black !important;
}

.logo {
    /*max-height: 35px;*/
    height: auto;
    max-width: 55px;
}

.custom-toggler .navbar-toggler {
    border-color: rgba(0,0,0, 0.3) !important; 
}

.custom-toggler .navbar-toggler-icon {
    background-image: url('../img/down.png');
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Double_angle_down_font_awesome.svg/2000px-Double_angle_down_font_awesome.svg.png");*/
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
}

/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 2px;
  width: 205px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  border-left: 2px solid #ddd;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.fa {
  font-size: 23px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 16px; /* centers logos */
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: black !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 270px;
  background: #4060A5;
}

.float-fb:hover {
  background: white;
  border-left: 2px solid #4060A5;
  border-top: 2px solid #4060A5;
  border-bottom: 2px solid #4060A5;
}

.float-fb:hover .fa-facebook {
  color: #4060A5 !important;
}

.float-in {
    top: 325px;
    /*background: #517FA4;*/
    background : #E12F67; /* Old browsers */
    background: -webkit-gradient(linear, 333 0, 0 337, from(#8043af), color-stop(0.029, #8442aa), color-stop(0.029, #8740a9), color-stop(0.042, #8842a8), color-stop(0.059, #8d3fa7), color-stop(0.067, #8d41a4), color-stop(0.164, #9d3d9c), color-stop(0.164, #9f3c9a), color-stop(0.202, #a63b96), color-stop(0.202, #a73a97), color-stop(0.23, #a83b96), color-stop(0.23, #aa3a92), color-stop(0.253, #ac3990), color-stop(0.312, #b63a8b), color-stop(0.35, #b93a88), color-stop(0.35, #bb3986), color-stop(0.374, #bc3986), color-stop(0.374, #be3884), color-stop(0.397, #c03a83), color-stop(0.403, #c13c83), color-stop(0.412, #c4397f), color-stop(0.443, #c63b7a), color-stop(0.469, #ca3d75), color-stop(0.475, #cb3c75), color-stop(0.494, #ca3e74), color-stop(0.494, #cc3d74), color-stop(0.503, #ce3e75), color-stop(0.503, #cf3d74), color-stop(0.591, #d84466), color-stop(0.591, #d94367), color-stop(0.904, #ef6744), color-stop(0.951, #f26a43), color-stop(0.951, #f26c42), color-stop(0.978, #f3703f), color-stop(0.978, #f46f40), color-stop(0.997, #f57041), color-stop(0.997, #f47141), to(#f47141));
    background: -webkit-linear-gradient(225.34206029135854deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
    background: -moz-linear-gradient(225.34206029135854deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
    background: -o-linear-gradient(225.34206029135854deg, #8043af, #8442aa 2.9%, #8740a9 2.9%, #8842a8 4.2%, #8d3fa7 5.9%, #8d41a4 6.7%, #9d3d9c 16.4%, #9f3c9a 16.4%, #a63b96 20.2%, #a73a97 20.2%, #a83b96 23%, #aa3a92 23%, #ac3990 25.3%, #b63a8b 31.2%, #b93a88 35%, #bb3986 35%, #bc3986 37.4%, #be3884 37.4%, #c03a83 39.7%, #c13c83 40.3%, #c4397f 41.2%, #c63b7a 44.3%, #ca3d75 46.9%, #cb3c75 47.5%, #ca3e74 49.4%, #cc3d74 49.4%, #ce3e75 50.3%, #cf3d74 50.3%, #d84466 59.1%, #d94367 59.1%, #ef6744 90.4%, #f26a43 95.1%, #f26c42 95.1%, #f3703f 97.8%, #f46f40 97.8%, #f57041 99.7%, #f47141 99.7%, #f47141);
}

.float-in:hover a {
  color: white !important;
}

.float-li {
  top: 380px;
  background: #0094BC;
}
/* Floating Social Media Bar Style Ends Here */

/* Social Icons */
#social_side_links {
    position: fixed;
    top: 270px;
    right: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
}

.smGlobalBtn, .smGlobalBtn:visited { /* global button class */
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    margin-bottom: 5px;
}

.smGlobalBtn:hover, .smGlobalBtn:active, .smGlobalBtn:visited, .smGlobalBtn:focus {
    text-decoration: none;
}

/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
    font-family: "FontAwesome";
    content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}

/* instagram button class*/
.instagramBtn {
    background: #517FA4;
}

.instagramBtn:before {
    font-family: "FontAwesome";
    content: "\f16d"; /* add instragram icon */
}

.instagramBtn:hover {
    color: #DB2D69;
    background: #fff;
    border-color: #05CC47;
}

.overlay-text {
    top: 40%;
    left: 13%;
    position: fixed;
    z-index: 99;
}

.intro {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px !important;
    border: 1px solid black;
    color: black;
    bottom: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    top: 44%;
    margin-left: 20%;
    margin-right: 20%;
}

.p-intro {
    margin-top: 1rem;
    font-size: 20px;
}

.container2 {
  position: relative;
  height: 14rem;
  border: 1px solid;
}

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px dashed deeppink;
}

.intro-text {
    margin-bottom: 0px;
    color: #292b2c;
}

@media screen and (max-width: 683px) {
    .intro-text {
        font-size: 20px;
    }
}