.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.bg-inverse {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 5px !important;
    border: 1px solid black;
}

.nav-link, .navbar-brand {
    color: black !important;
}

.logo {
    max-height: 30px;
    /*height: auto;*/
    /*max-width: 55px;*/
}

.custom-toggler .navbar-toggler {
    border-color: rgba(0,0,0, 0.3) !important; 
}

.custom-toggler .navbar-toggler-icon {
    background-image: url('../img/down.png');
}