.jumbotron {
    min-height: 63px;
    padding-bottom: 8px;
    padding-top: 8px;
    /*background: url('https://img00.deviantart.net/8e66/i/2016/032/3/0/surrounded_by_sketch_and_smile-d9q746j.png');*/
}

.jumbotron-fluid {
    background-color: white;
}

/* gallery */
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}

.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.resize {
    height: 400px; 
    width: 360px; 
    overflow: hidden;
    margin-bottom: 17px;
}

.tile:hover { 

}

.scale-anm {
  transform: scale(1);
}

.tile img {
    /*max-width: 100%;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*margin-bottom: 1rem;*/
    /*margin: -75px 0 0 -233px;*/ /* move the image around to specific location */
}

.port_img {
    width: 360px;
    height: 400px;
    margin-bottom: 1rem;
    /*background-image: url('https://pre00.deviantart.net/4129/th/pre/i/2016/051/7/f/single_yet_not_lonely_by_sketch_and_smile-d9sitn9.jpg');*/
}

.art-categories {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

span {
    color: rgba(0,0,0,.1);
}

/*@media all and (min-width: 800px) {*/

/*  .fancybox-thumbs {*/
/*    top: auto;*/
/*    width: auto;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right : 0;*/
/*    height: 95px;*/
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
/*    background: rgba(0, 0, 0, 0.3);*/
/*  }*/
  
/*  .fancybox-show-thumbs .fancybox-inner {*/
/*    right: 0;*/
/*    bottom: 95px;*/
/*  }*/

/*}*/

.bold {
    font-weight: 700;
}

.port-section {
    margin-top: 100px;
}

.dotted {
    outline-style: dotted;
    outline-width: 1px;
}