.dash-section {
    margin-top: 110px;
}

.fa-tachometer {
    color: black;
}

.visits p, .popular p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popular h {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visits h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 700;
}

.parent {
    position: relative;
    min-height: 150px;
    border: 1px black solid;
    border-radius: 5px;
}

.m-bot {
    margin-bottom: 25px;
}

.popular {
    margin-top: 15px;
}