@media only screen and (min-width: 768px)  {
    
   .resize {
        padding-bottom: 15px;
        height: 100%;
    }         
    
    .resize img {
        height: 100%;
    }

}

@media only screen and (max-width: 768px)  {
    
   .resize {
        margin-bottom: 10px;
    }     

}

.resize img {
    cursor: pointer;
}

.hidden {
    display: none;
}