@media only screen and (min-width: 1200px)  {
    
   .resize {
        /*margin-bottom: 17px;*/
        padding-bottom: 15px;
        height: 100%;
    }         
    
    .resize img {
        height: 100%;
        cursor: pointer;
    }

}

.hidden {
    display: none;
}